services:
  postgres:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  sso:
    build:
      context: .
      dockerfile: apps/sso/Dockerfile
    ports:
      - "3001:3000"
    environment:
      DATABASE_URL: postgresql://${DB_USER}:${DB_PASSWORD}@postgres:5432/${DB_NAME}
      JWT_SECRET: ${JWT_SECRET}
    depends_on:
      - postgres

  bank:
    build:
      context: .
      dockerfile: apps/bank/Dockerfile
    ports:
      - "3002:3000"
    environment:
      JWT_SECRET: ${JWT_SECRET}

  gateway:
    build:
      context: .
      dockerfile: apps/gateway/Dockerfile
    ports:
      - "3000:3000"
    environment:
      JWT_SECRET: ${JWT_SECRET}
    depends_on:
      - sso
      - bank

volumes:
  postgres-data:
